<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>작성중입니다</title>
        <style>
            body{margin: 0; background-color: #fff; overflow: hidden;}
            .nav{width: 100%; height: 55px; background: #010A2C; margin-left: auto; margin-right: auto; display: inline-block;}
            .nav>img{width: 8%; height: 70%; margin-top: auto; margin-bottom: auto;}
            .word_sheet{padding: 1em; width: 67%; height: 70rem; margin-left: auto; margin-right: auto; margin-top: 1em; background-color: #fff; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
        </style>
    </head>
    <body>
        <div class="nav">
            <img src="{{ url_for('static', filename='image/FiledLogo.png')}}">
            
        </div>
        <div class="result_disiplay" method="get, post">
            <div class="word_sheet">
                예시입니다

            </div>
        </div>
    </body>
</html>