<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>작성중입니다</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="nav">
            <div id="logo">
                <img src="{{ url_for('static', filename='image/FiledLogo.png')}}">
            </div>
        </div>
            <div class="container">
                <form class="word_sheet">
                    <input type="text" id="board">
                </form>
                <div class="sidebar">
                    <div class="put">d</div>
                    <div class="sm-url"><input type="search" placeholder="url"></div>
                    <div class="tb_box">d</div>
                    <div class="str_box">d</div>
                </div>
            </div>
            <!-- <form class="scrappy_fab">
                <input type="button" value="스크랩">
            </form> -->
    </body>
</html>