<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filed your data</title>
        <style>
            body{background: #010A2C;}
            #logo{text-align: center; width: 25%; height: 10%; margin-left: auto; margin-right: auto;}
            form{width: 100%;}
            #inputUrl{width: 47%; height: 30px; font-size: 14px; margin-top: 30px; border-radius: 10px;}
        </style>
    </head>

    <body>
        <div id="logo"><img src="./image/FiledLogo.png"></div>
        <form action="/result" method="GET">
            <input id="inputUrl" placeholder="주소를 입력하세요" required name=''>
            <button>scrap</button>
        </form>

    </body>
</html>