<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filed your data</title>
        <style>
            body{background: #010A2C;}
            #URLinput{width: 5rem; align-items: center; height: 64px; font-size: 14px;}
            #logo{text-align: center; width: 300px; height: 125px;}
        </style>
    </head>

    <body>
        <div id="logo"><img src="./image/FiledLogo.png"></div>
        <div>
            <input id="URLinput" placeholder="주소를 입력하세요">
        </div>

    </body>
</html>