<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filed your data</title>
        <style>
            body{background: #010A2C;}
            .logo{text-align: center; width: 25%; height: 10%; margin-top: 10%; margin-left: auto; margin-right: auto;}
            form{width: 50%; margin-left: auto; margin-right: auto;}
            #inputUrl{width: 90%; height: 30px; font-size: 14px; margin-top: 20%; border-radius: 10px;}
            button{height: 30px; background: none; border-style: none; color: white;}
        </style>
    </head>

    <body>
        <div class="logo">
            {% if True %}
            <img src="{{ url_for('static', filename='image/FiledLogo.png')}}">
            {% if False %}
        </div>
        <form action="/result" method="GET">
            <input id="inputUrl" placeholder="주소를 입력하세요" required name=''>
            <button>scrap</button>
        </form>

    </body>
</html>